<nav>
    <div class="site-title">
        <a href="/">
            <h1>Blog with NODE.JS and EJS</h1>
        </a>
        <p>AgnesEm Blog</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>