<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>
        <div class="blogs content">
            <h2>About us</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus recusandae dolorum nemo voluptates
                aperiam iure accusamus enim, at molestiae culpa voluptas. Distinctio, totam et? Ab deserunt recusandae
                esse fugiat ea, nostrum aperiam ad itaque tempora odio quibusdam id sequi. Ipsum iusto molestiae,
                aliquid reiciendis maxime unde nulla animi deleniti labore est obcaecati mollitia distinctio quidem sint
                laudantium eos, suscipit dolores blanditiis? Possimus maiores quod, sed voluptates minima voluptatibus
                ipsum distinctio ullam ab autem non doloribus deserunt hic nulla voluptatum eveniet officiis quam
                quaerat beatae nostrum illum optio. Ratione fugiat, repellendus, ullam quia consequatur, libero commodi
                eveniet enim optio reprehenderit eaque!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus recusandae dolorum nemo voluptates
                aperiam iure accusamus enim, at molestiae culpa voluptas. Distinctio, totam et? Ab deserunt recusandae
                esse fugiat ea, nostrum aperiam ad itaque tempora odio quibusdam id sequi. Ipsum iusto molestiae,
                aliquid reiciendis maxime unde nulla animi deleniti labore est obcaecati mollitia distinctio quidem sint
                laudantium eos, suscipit dolores blanditiis? Possimus maiores quod, sed voluptates minima voluptatibus
                ipsum distinctio ullam ab autem non doloribus deserunt hic nulla voluptatum eveniet officiis quam
                quaerat beatae nostrum illum optio. Ratione fugiat, repellendus, ullam quia consequatur, libero commodi
                eveniet enim optio reprehenderit eaque!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus recusandae dolorum nemo voluptates
                aperiam iure accusamus enim, at molestiae culpa voluptas. Distinctio, totam et? Ab deserunt recusandae
                esse fugiat ea, nostrum aperiam ad itaque tempora odio quibusdam id sequi. Ipsum iusto molestiae,
                aliquid reiciendis maxime unde nulla animi deleniti labore est obcaecati mollitia distinctio quidem sint
                laudantium eos, suscipit dolores blanditiis? Possimus maiores quod, sed voluptates minima voluptatibus
                ipsum distinctio ullam ab autem non doloribus deserunt hic nulla voluptatum eveniet officiis quam
                quaerat beatae nostrum illum optio. Ratione fugiat, repellendus, ullam quia consequatur, libero commodi
                eveniet enim optio reprehenderit eaque!</p>
        </div>
<%- include('./partials/footer.ejs') %>
</body>
</html>